@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

:root {
    --black:  #121212;
    --black-2:#282828;
    --gray-1: #8E8E8E;
    --gray-2: #BCBCBC;
    --gray-3: #d8d8d8;
    --teal: #08A5B9;
    --orange: #EB6A2A;
    --mastodon: 2.2rem;
}

*, *:before, *:after {
    -moz-box-sizing: content-box;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    color: var(--black);
    font-family: Roboto, sans-serif;
}

a {
    color: var(--orange);
    text-decoration: none;
}

header {
    position: fixed;
    top: 0;
    right: 0;
    font-weight: 100;
    padding: .5rem;
    font-size: 2rem;
    z-index: 10;

    strong {
        font-weight: 500;
    }

    a {
        color: var(--black-2);
        text-decoration: none;
        display: inline-block;
        vertical-align: middle;
    }

    .contact-info {
        font-size: .9rem;
        text-align: right;
        line-height: 15px;

        a + a {
            margin-left: .5rem;
        }

        a[href*="tel"] {
            position: relative;
            top: 1px;
        }
    }
}

.container {
    width: 100%;
    height: 100vh;
    pointer-events: none;
    position: fixed;
    opacity: 0;
    transition: opacity .2s;
    overflow: hidden;
    transform: translateZ(0px);
    z-index: 1;
    background: linear-gradient( 0deg, rgba(255,255,255,1), rgba(255,255,255,0) 55%);

    [data-section*="active"] & {
        opacity: 1;
    }
}

@media (max-width: 500px) {
    .container {
        background: linear-gradient( 0deg, rgba(255,255,255,1), rgba(255,255,255,0) 25%);
    }
}

.timeline {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    white-space: nowrap;

    .tick {
        position: absolute;
        bottom: 0;
        font-size: .6rem;
        padding-top: .25rem;
        padding-left: .25rem;
        border-left: 1px solid var(--gray-1);

        &:before {
            content: attr(data-label);
            color: var(--gray-1);
        }
    }

    .range-label {
        position: absolute;
        left: 0;
        bottom: 0;
        padding-left: .5rem;
        font-weight: 100;
    }
}

@media (max-width: 500px) {
    .range-label {
        font-size: .75rem;
    }
}

.svg-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

.bgl-range {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border: 1px dashed var(--gray-2);
    border-width: 1px 0;

    &:before, &:after {
        position: absolute;
        left: 0;
        padding: .25rem;
        font-size: .825rem;
        color: var(--gray-1);
    }

    &:before {
        content: attr(data-max)' mg/dl';
        bottom: 100%;
    }

    &:after {
        content: attr(data-min)' mg/dl';
        top: 100%;
    }
}

.bgl {
    position: absolute;
    top: 0;
    left: 0;
    width: 1rem;
    height: 1rem;
    margin: -.5rem 0 0 -.5rem;
    transition: transform .3s;
    pointer-events: all;

    span {
        width: 2px;
        height: 2px;
        top: 50%;
        left: 50%;
        border-radius: 10px;
        position: absolute;
        transform: translate(-50%, -50%);
        border: 2px solid #000000;
        border-color: inherit;
        transition: background-color .5s;
    }

    &-medium span {
        width: 2px;
        height: 2px;
        border-width: 2px;
    }

    &-large span {
        width: 4px;
        height: 4px;
        border-width: 4px;
    }

    &-large:before {
        content: attr(data-value);
        position: absolute;
        font-size: 1.5rem;
        top: 0;
        left: 1rem;
        opacity: 0;
        padding-left: .25rem;
        text-shadow: 1px 1px 2px #fff, -2px -2px 2px #fff;
        transform: translate(0, -1rem);
        transition: opacity .2s linear 1s;
    }


    &-large:after {
        content: attr(data-time);
        position: absolute;
        font-size: .9rem;
        top: 1.5rem;
        left: 1rem;
        padding-left: .35rem;
        text-shadow: 1px 1px 2px #fff, -2px -2px 2px #fff;
        transform: translate(0, -1rem);
        opacity: 0;
        transition: opacity .2s linear 1s;
    }

    &:hover:after,
    &:hover:before {
        opacity: 1;
        transition: opacity .2s;
    }
}

.bgl-line {
    fill: transparent;
    stroke: rgba(35, 35, 35, .3);
    transition: stroke 0s linear .2s, stroke-width 0s linear .2s;
}

[data-section*="stacked"] .bgl-line {
    stroke-width: 2px;
    stroke: rgba(9, 165, 185, .8);
}

.bgl-canvas,
.bgl-lines {
    width: 100%;
    height: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .2s;
}

[data-section*="stacked"] .bgl-lines {
    opacity: 1;
}

[data-section*="bgl-canvas"] .bgl-canvas {
    opacity: 1;
}

/****************************************** INSULIN */

.bolus {
    position: absolute;
    width: 0px;
    border-left: 1px dashed var(--gray-2);
    bottom: 0;
}

.bolus:before {
    content: attr(data-value);
    font-size: .9rem;
    color: var(--gray-1);
    position: absolute;
    top: 0;
    left: 100%;
    transform: translate(0, -50%);
    padding-left: .25rem;
}

.bolus:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: .5rem;
    height: .5rem;
}

.iob {
    fill: rgba(35, 35, 35, .1);
}

/****************************************** SECTION */
.narrative {
    position: relative;
    /*z-index: 1;*/
    transform: translateZ(0px);
}

section {
    min-height: 100vh;
    width: 100%;
    padding-top: 33vh;
    position: relative;

    .content > *:not(.image-grid) {
        padding-left: 1rem;
    }

    em {
        font-weight: 100;
        font-size: 2.6rem;
        font-style: normal;
        display: block;
    }

    em.fixed-width {
        max-width: 720px;
    }

    .subtitle {
        font-size: 1.4rem;
        margin-top: 1rem;
        max-width: 600px;
    }

    p {
        margin: 0;
        padding: 0;
    }

    p + p {
        margin-top: 1rem;
    }
}

.extra-info-button {
    cursor: pointer;
    color: var(--orange);
    background: none;
    border: none;
    padding-bottom: .5rem;
    outline: 0;
    cursor: pointer;
    font-size: 1rem;
}

.extra-info {
    font-size: 1.1rem;
    color: var(--black-2);
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: .5rem 1rem 1rem;
    line-height: 1.5;
    max-width: 860px;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: opacity .3s;
    font-size: 1.1rem;
    border-left: 4px solid var(--orange);

    &.open {
        opacity: 1;
        max-height: 1000px;

        & + .scroll {
            position: relative;
        }
    }
}

@media (max-width: 500px) {
    .extra-info {
        font-size: 1rem;
    }

    .extra-info.open {
        margin-bottom: 50%;
    }

    .extra-info.open + .scroll {
        margin-top: -30%;
    }
}

/****************************************** specific sections */

.title {
    font-size: 3.2rem;
    font-weight: 100;
    margin: 0 0 .5rem 0;
    padding-left: 1rem;
}

.subtitle {
    font-size: 1.5rem;
    font-weight: 100;
    padding-left: 1rem;
    margin-bottom: 1.5rem;
}

.selfie {
    width: 30%;
    max-width: 160px;
    float: left;
    margin-right: 1rem;
}

@media (max-width: 600px) {
    .title {
        font-size: 11vw;
    }

    .subtitle {
        font-size: 4.5vw;
    }

    .selfie {
        max-width: 50%;
        width: 100%;
        margin: 0 auto 1rem;
        display: block;
        float: none;
    }
}

.intro-copy {
    font-size: 1.1rem;
    max-width: 700px;
}

.down-arrow {
    margin-top: 1rem;
    width: 1.5rem;
    animation-name: arrow;
    animation-duration: 2s;
    animation-iteration-count: infinite;

    polygon {
        fill: var(--gray-1);
    }
}

@keyframes arrow {
    0% {
        transform: translate(0, -10%);
    }

    50% {
        transform: translate(0, 10%);
    }

    100% {
        transform: translate(0, -10%);
    }
}

.scroll {
    position: absolute;
    top: 75%;
    left: 0;
    width: 100%;
    padding-top: 1rem;
    color: var(--gray-1);
    text-align: center;
}

/****************************************** image grid */

.image-grid {
    margin-top: var(--mastodon);
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    transform: translateZ(0px);

    img {
        width: 100%;
        height: 100%;
        display: block;
    }
}

.image-grid .image {
    display: block;
}

.image-grid .image.featured,
.image-grid .image-group {
    flex: 1;
}

.image-group--cluster {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 20%;
}

.image-group--cluster .image {
    width: 100%;

}

@media (max-width: 1000px) {
    header {
        padding: .5rem;
        font-size: 1.4rem;
    }

    .image-grid {
        flex-wrap: wrap;

        .image.featured {
            flex: 0 0 50%;
        }

        .image-group,
        .image-group--cluster {
            flex: 0 0 100%;
        }
    }


    .image-group {
        width: 100%;
    }
}

@media (max-width: 600px) {
    header {
        padding: .35rem;
        font-size: 1.2rem;
    }

    section {
        min-height: 177vw;
        padding-top: 40%;
    }

    .image-grid {
        display: block;
        flex-wrap: wrap;
    }

    .image.featured {
        width: 100%;
        flex: 0;
    }

    .image {
        width: 50%;
    }

    section em {
        font-size: 1.8rem;
    }

    section p {
        font-size: 1.1rem;
    }
}
