@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

*, *:before, *:after {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    color: #121212;
    font-family: Roboto, sans-serif;
}

a {
    color: #EB6A2A;
    text-decoration: none;
}

header {
    position: fixed;
    top: 0;
    right: 0;
    font-weight: 100;
    padding: 8px;
    padding: .5rem;
    font-size: 32px;
    font-size: 2rem;
    z-index: 10;
}

header strong {
    font-weight: 500;
}

header a {
    color: #282828;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
}

header .contact-info {
    font-size: 14.4px;
    font-size: .9rem;
    text-align: right;
    line-height: 15px;
}

header .contact-info a + a {
    margin-left: 8px;
    margin-left: .5rem;
}

header .contact-info a[href*="tel"] {
    position: relative;
    top: 1px;
}

.container {
    width: 100%;
    height: 100vh;
    pointer-events: none;
    position: fixed;
    opacity: 0;
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
    overflow: hidden;
    -webkit-transform: translateZ(0px);
            transform: translateZ(0px);
    z-index: 1;
    background: -webkit-linear-gradient( bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0) 55%);
    background: linear-gradient( 0deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0) 55%);
}

[data-section*="active"] .container {
    opacity: 1;
}

@media (max-width: 500px) {
    .container {
        background: -webkit-linear-gradient( bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0) 25%);
        background: linear-gradient( 0deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0) 25%);
    }
}

.timeline {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    white-space: nowrap;
}

.timeline .tick {
    position: absolute;
    bottom: 0;
    font-size: 9.6px;
    font-size: .6rem;
    padding-top: 4px;
    padding-top: .25rem;
    padding-left: 4px;
    padding-left: .25rem;
    border-left: 1px solid #8E8E8E
}

.timeline .tick:before{
    content: attr(data-label);
    color: #8E8E8E;
}

.timeline .range-label {
    position: absolute;
    left: 0;
    bottom: 0;
    padding-left: 8px;
    padding-left: .5rem;
    font-weight: 100;
}

@media (max-width: 500px) {
    .range-label {
        font-size: .75rem;
    }
}

.svg-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

.bgl-range {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border: 1px dashed #BCBCBC;
    border-width: 1px 0
}

.bgl-range:before, .bgl-range:after{
    position: absolute;
    left: 0;
    padding: 4px;
    padding: .25rem;
    font-size: 13.2px;
    font-size: .825rem;
    color: #8E8E8E;
}

.bgl-range:before{
    content: attr(data-max)' mg/dl';
    bottom: 100%;
}

.bgl-range:after{
    content: attr(data-min)' mg/dl';
    top: 100%;
}

.bgl {
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    width: 1rem;
    height: 16px;
    height: 1rem;
    margin: -8px 0 0 -8px;
    margin: -.5rem 0 0 -.5rem;
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
    pointer-events: all;
}

.bgl span {
    width: 2px;
    height: 2px;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: 2px solid #000000;
    border-color: inherit;
    -webkit-transition: background-color .5s;
    transition: background-color .5s;
}

.bgl-medium span{
    width: 2px;
    height: 2px;
    border-width: 2px;
}

.bgl-large span{
    width: 4px;
    height: 4px;
    border-width: 4px;
}

.bgl-large:before{
    content: attr(data-value);
    position: absolute;
    font-size: 24px;
    font-size: 1.5rem;
    top: 0;
    left: 16px;
    left: 1rem;
    opacity: 0;
    padding-left: 4px;
    padding-left: .25rem;
    text-shadow: 1px 1px 2px #fff, -2px -2px 2px #fff;
    -webkit-transform: translate(0, -1rem);
            transform: translate(0, -1rem);
    -webkit-transition: opacity .2s linear 1s;
    transition: opacity .2s linear 1s;
}

.bgl-large:after{
    content: attr(data-time);
    position: absolute;
    font-size: 14.4px;
    font-size: .9rem;
    top: 24px;
    top: 1.5rem;
    left: 16px;
    left: 1rem;
    padding-left: 5.6px;
    padding-left: .35rem;
    text-shadow: 1px 1px 2px #fff, -2px -2px 2px #fff;
    -webkit-transform: translate(0, -1rem);
            transform: translate(0, -1rem);
    opacity: 0;
    -webkit-transition: opacity .2s linear 1s;
    transition: opacity .2s linear 1s;
}

.bgl:hover:after,
    .bgl:hover:before{
    opacity: 1;
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
}

.bgl-line {
    fill: transparent;
    stroke: rgba(35, 35, 35, .3);
    -webkit-transition: stroke 0s linear .2s, stroke-width 0s linear .2s;
    transition: stroke 0s linear .2s, stroke-width 0s linear .2s;
}

[data-section*="stacked"] .bgl-line {
    stroke-width: 2px;
    stroke: rgba(9, 165, 185, .8);
}

.bgl-canvas,
.bgl-lines {
    width: 100%;
    height: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    opacity: 0;
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
}

[data-section*="stacked"] .bgl-lines {
    opacity: 1;
}

[data-section*="bgl-canvas"] .bgl-canvas {
    opacity: 1;
}

/****************************************** INSULIN */

.bolus {
    position: absolute;
    width: 0px;
    border-left: 1px dashed #BCBCBC;
    bottom: 0;
}

.bolus:before {
    content: attr(data-value);
    font-size: 14.4px;
    font-size: .9rem;
    color: #8E8E8E;
    position: absolute;
    top: 0;
    left: 100%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    padding-left: 4px;
    padding-left: .25rem;
}

.bolus:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 8px;
    width: .5rem;
    height: 8px;
    height: .5rem;
}

.iob {
    fill: rgba(35, 35, 35, .1);
}

/****************************************** SECTION */
.narrative {
    position: relative;
    /*z-index: 1;*/
    -webkit-transform: translateZ(0px);
            transform: translateZ(0px);
}

section {
    min-height: 100vh;
    width: 100%;
    padding-top: 33vh;
    position: relative;
}

section .content > *:not(.image-grid) {
    padding-left: 16px;
    padding-left: 1rem;
}

section em {
    font-weight: 100;
    font-size: 41.6px;
    font-size: 2.6rem;
    font-style: normal;
    display: block;
}

section em.fixed-width {
    max-width: 720px;
}

section .subtitle {
    font-size: 22.4px;
    font-size: 1.4rem;
    margin-top: 16px;
    margin-top: 1rem;
    max-width: 600px;
}

section p {
    margin: 0;
    padding: 0;
}

section p + p {
    margin-top: 16px;
    margin-top: 1rem;
}

.extra-info-button {
    cursor: pointer;
    color: #EB6A2A;
    background: none;
    border: none;
    padding-bottom: 8px;
    padding-bottom: .5rem;
    outline: 0;
    cursor: pointer;
    font-size: 16px;
    font-size: 1rem;
}

.extra-info {
    font-size: 17.6px;
    font-size: 1.1rem;
    color: #282828;
    padding-top: 16px;
    padding-top: 1rem;
    padding-bottom: 16px;
    padding-bottom: 1rem;
    margin: 8px 16px 16px;
    margin: .5rem 1rem 1rem;
    line-height: 1.5;
    max-width: 860px;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
    font-size: 17.6px;
    font-size: 1.1rem;
    border-left: 4px solid #EB6A2A
}

.extra-info.open{
    opacity: 1;
    max-height: 1000px;
}

.extra-info.open + .scroll{
    position: relative;
}

@media (max-width: 500px) {
    .extra-info {
        font-size: 1rem;
    }

    .extra-info.open {
        margin-bottom: 50%;
    }

    .extra-info.open + .scroll {
        margin-top: -30%;
    }
}

/****************************************** specific sections */

.title {
    font-size: 51.2px;
    font-size: 3.2rem;
    font-weight: 100;
    margin: 0 0 8px 0;
    margin: 0 0 .5rem 0;
    padding-left: 16px;
    padding-left: 1rem;
}

.subtitle {
    font-size: 24px;
    font-size: 1.5rem;
    font-weight: 100;
    padding-left: 16px;
    padding-left: 1rem;
    margin-bottom: 24px;
    margin-bottom: 1.5rem;
}

.selfie {
    width: 30%;
    max-width: 160px;
    float: left;
    margin-right: 16px;
    margin-right: 1rem;
}

@media (max-width: 600px) {
    .title {
        font-size: 11vw;
    }

    .subtitle {
        font-size: 4.5vw;
    }

    .selfie {
        max-width: 50%;
        width: 100%;
        margin: 0 auto 1rem;
        display: block;
        float: none;
    }
}

.intro-copy {
    font-size: 17.6px;
    font-size: 1.1rem;
    max-width: 700px;
}

.down-arrow {
    margin-top: 16px;
    margin-top: 1rem;
    width: 24px;
    width: 1.5rem;
    -webkit-animation-name: arrow;
            animation-name: arrow;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
}

.down-arrow polygon {
    fill: #8E8E8E;
}

@-webkit-keyframes arrow {
    0% {
        -webkit-transform: translate(0, -10%);
                transform: translate(0, -10%);
    }

    50% {
        -webkit-transform: translate(0, 10%);
                transform: translate(0, 10%);
    }

    100% {
        -webkit-transform: translate(0, -10%);
                transform: translate(0, -10%);
    }
}

@keyframes arrow {
    0% {
        -webkit-transform: translate(0, -10%);
                transform: translate(0, -10%);
    }

    50% {
        -webkit-transform: translate(0, 10%);
                transform: translate(0, 10%);
    }

    100% {
        -webkit-transform: translate(0, -10%);
                transform: translate(0, -10%);
    }
}

.scroll {
    position: absolute;
    top: 75%;
    left: 0;
    width: 100%;
    padding-top: 16px;
    padding-top: 1rem;
    color: #8E8E8E;
    text-align: center;
}

/****************************************** image grid */

.image-grid {
    margin-top: 35.2px;
    margin-top: 2.2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    -webkit-transform: translateZ(0px);
            transform: translateZ(0px);
}

.image-grid img {
    width: 100%;
    height: 100%;
    display: block;
}

.image-grid .image {
    display: block;
}

.image-grid .image.featured,
.image-grid .image-group {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}

.image-group--cluster {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
}

.image-group--cluster .image {
    width: 100%;

}

@media (max-width: 1000px) {
    header {
        padding: .5rem;
        font-size: 1.4rem;
    }

    .image-grid {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }

    .image-grid .image.featured {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
    }

    .image-grid .image-group,
        .image-grid .image-group--cluster {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    }


    .image-group {
        width: 100%;
    }
}

@media (max-width: 600px) {
    header {
        padding: .35rem;
        font-size: 1.2rem;
    }

    section {
        min-height: 177vw;
        padding-top: 40%;
    }

    .image-grid {
        display: block;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }

    .image.featured {
        width: 100%;
        -webkit-box-flex: 0;
            -ms-flex: 0;
                flex: 0;
    }

    .image {
        width: 50%;
    }

    section em {
        font-size: 1.8rem;
    }

    section p {
        font-size: 1.1rem;
    }
}
